---
import '@styles/global.css'
import { Aside } from '@components/aside'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ChatBot</title>
  </head>
  <body>
    <div id="app" class="bg-[#EEEEEE]">
      <Aside />
      <slot />
    </div>
  </body>
</html>
