---
import '@styles/global.css'
import { ClientRouter } from 'astro:transitions'
import { Aside } from '@components/aside'
import { Header } from '@components/header'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Amelia - Asistente Virtual</title>
    <ClientRouter />
  </head>
  <body>
    <div id="app" class="">
      <Header client:load />
      <Aside client:load />
      <slot />
    </div>
  </body>
</html>
